.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-nav {
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  background-color: black;
  border-bottom: 1px solid black;
}

.main-nav ul {
  margin: 0;
}

.main-nav li {
  display: inline;
  padding-top: 0;
}

.main-nav a {
  display: inline-block;
  padding: 0.3em 3% 0.3em 3%;
  color: whitesmoke;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: rgba(4, 81, 247, 0.788);
  color: white;
}

.content {
  padding: 3em;
  text-align: justify;
}

.float-left {
  width: 48%;
  float: left;
}

.float-right {
  width: 48%;
  float: right;
  text-align: center;
}

.project-item-list {
  width: 48%;
  float: left;
}

.item-description {
  width: 48%;
  float: right;
}

.project-item {
  margin-top: 1em;
  padding: .5em;
  border: 1px solid;
}

.project-item-description ul {
  margin: 0;
}

.project-item-description li {
  display: inline;
  padding-top: 0;
  padding: 0.5em 5% 0.5em 5%;
}
